/* to import 'Lobster', cursive; fonts in #logo h1 */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* to import 'Montserrat', sans-serif; fonts in body */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

* {
  margin: 0;   
  padding: 0;  
  box-sizing: border-box;  
}

a {
  text-decoration: none;  
}

p {
  line-height: 1.75;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  /* background-color: #a5d9ce; */
  background-color: rgb(193, 172, 160, 0.3);
  font-family: 'Montserrat', sans-serif;
}

.login-logo {
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 60px;
  color: rgb(17, 4, 4);
}
.login-logo h1 {
  font-size: 40px;
  margin-top: 10px;
}



html {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  width: 45%;
  border: 1px solid black;
}

input{
  border: 1px solid black;
  border-radius: 3px;
  line-height: 35px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}


.wrapper {
  padding: 10px;
}

div {
  padding-top: 3px;
  padding-bottom: 8px;
}


.email input {
  width: 100%;
}

.id_ input {
  width: 100%;
}

.password input {
  width: 100%;
}

.passwordCheck input {
  width: 100%;
}


.gender {
  text-align: center;
}

.signUp button {
  width: 100%;
  cursor:pointer;
}

button{
  cursor: pointer;
  height: 30px;
}

.error{
  font-size: 10px;
  height: 20px;
  color:red;
  font-weight: 700;
}